<h3 style="margin-top: 30px">Cart List</h3>

<table class="table table-striped" [svData]="carts" #sv="svDataTable" [svRowsOnPage]="5" svSortBy="name"
    svSortOrder="asc">
    <thead>
        <tr>
            <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of sv.data">
            <td>
                <button (click)="remove(row.Id)" class="btn btn-danger">Delete</button>
                <button (click)="update(row.Id, row.Quantity)" class="btn btn-info">Edite</button>
            </td>
            <td>{{row.ProductId}}</td>
            <td>{{row.Name}}</td>
            <td>
                <img src="assets/images/{{ row.Photo }}" width="50" alt="Photo" />
            </td>
            <td>{{row.Price}}</td>
            <td>{{row.Quantity}}</td>
            <td>{{row.Price * row.Quantity}}</td>
        </tr>
        <tr>
            <td colspan="6"><b>Total</b></td>
            <td><b>{{total}}</b></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
            </td>
        </tr>
    </tfoot>
</table>

<div>
    <button (click)="add()" class="btn btn-primary">Add Cart</button>
</div>