<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">Products Search</h3>
        </div>
      </div>
      <!-- /section title -->

      <!-- Products tab & slick -->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 col-sm-6" *ngFor="let product of products">
            <div class="card my-2">
              <img src="{{ product.Photo }}" alt="{{product.Name}}" width="200px" class="card-img-top" (click)="selectProduct(product.Id)" style="cursor:pointer;">
              <div class="card-header">
                <div class="card-title">
                  <p>{{product.Name}}</p>
                </div>
              </div>
              <div class="card-body">
                <h6>{{product.Description}}</h6>
                <p class="lead">{{product.Price | currency:'USD'}}</p>
              </div>

              <div class="row d-flex justify-content-center border-primary my-3">
                <div class="col-md-6 ">
                  <button class="btn btn-outline-primary btn-sm btn-block"
                          [class.disabled]="product.Quantity < 1"
                          [class.btn-outline-danger]="product.Quantity < 1"
                          (click)="addToCart(product.Id)" [disabled]="product.Quantity < 1">
                    {{ product.Quantity < 1 ? "NO STOCK" : "Add To Cart"}}
                  </button>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

</div>
<!-- /container -->

<!-- /SECTION -->