div.sm-jumbotron {
    padding: 2rem;
    background-color: #38547b;
    color: #ffffff;    
}

button.btn-submit {
    background-color: #38547b;
    color: #ffffff;
    width: 100%;
}

button.btn-submit:focus, button.btn-submit:hover {
    background-color: #38547b;
}

input.ng-invalid.ng-dirty {
    border-bottom-color: #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}



nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(0, 0, 0, 0.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
